/* Place under the bootstrap css link in index. */
body{
	background-color: rgb(0,124,175);	/*BLUE COLOR*/
	/*background-color: #42f495;*/
	background-color: rgb(180, 56, 100);
	/*padding-top: 60px;*/
	padding: 2%;
	
}
iframe{
	margin: auto;
	max-width: 100%;
	display: block;
}



@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

/* Custom Classes */

.img-center{
	margin:						auto;
	display: 					block;
	max-width:		 		90%;
	margin-bottom: 		10px;
}
.border-custom-solid{
	border: 					10px solid;
	border-radius: 		15px;	
}

.cranberry{
	color: 						rgb(180, 56, 100);
	border-color: 		rgb(180, 56, 100);
}

.well{
	padding-bottom: 	0px;
}

.well-padding-top-0{
	padding-top: 			0px;
}
.nested-well{
	background-color:	#e8e8e8;
}
.nested-nested-well{
	background-color: #eee;		/*Make Blue*/
}
.show-border{
	border: 1px solid;
}
/*include in p element of Album's 
name to bring closer to thumbnail*/
.albumname{
	margin-top: -10px
}
.btn-margin{
	margin-top: -5px;
	margin-bottom: 10px;
}